@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap');

/*
font-family: 'Exo 2', sans-serif;
font-family: 'Poppins', sans-serif;
 */

:root {
  --main-text-color: #292F36;
  --heading-color: #F9B5AA;
  --decoration1: #FFE66D;
  --decoration2: #2B2C5A;
  --decoration3: #45cfcf;
}

* {
  margin: 0;
  padding: 0;
 
}
/* main styling */

/* set height to 100% in order to apply styles for stick footer on game pg */
html, body {
  height:100%;
  
  }

/* main styling */
div,
p {
  color: var(--main-text-color);
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

h1 {
  color: var(--main-text-color);
  font-family: 'Exo 2', sans-serif;
  font-size: 45px;
  font-weight: 600;
  margin: 10px;
  text-align: center;
  padding: 20px;

}

#game-header {
  font-size: 25px;
  text-align: center;
  padding: 5px;

}



/* landing page */

/* set scaling of landing page imgs */
div.scaled {
  width: 90%;
  margin: 5px;
  text-align: center;
}

/* full screen background image with fallback colour*/
#landing {
  background: url("../images/landing-stars.jpg") no-repeat center center fixed #395c6b;
  background-size: cover;
}

/* background image for link to learn more*/
#explore {
  background-image: url("../images/landing-astronaut.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 20px;
  margin: 20px;

}

/* background image for link to game*/
#playgame {
  background-image: url("../images/landing-rocket.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 20px;
  margin: 20px;

}

/* to set height of options for user on landing page*/
.start {
  height: 30vh;
}

.start-instructions {
  height: 15vh;
  padding: 20px;
  margin: 20px;


}

/* styling of text on landing page */
.start-pg {
  color: var(--decoration1);
  font-weight: 600;
}

/*-- change landing pg links when hovered --*/
a:hover .start-pg,
a:focus .start-pg {
  color: var(--heading-color);

}

/*-- remove underline when over over anchor elements on landing page --*/
.landing-pg:hover a,
.landing-pg:focus a {
  text-decoration: none;
}



/* Styling the Instructions modal */
#instructions {
  color: var(--decoration1);
  border: 2px solid var(--decoration1);
  border-radius: 40%;
  font-weight: 600;
  font-size: 20px;
  padding: 15px;
}

#instructions:hover {
  color: var(--heading-color);
  border: 2px solid var(--heading-color);
}

/* applies to modal on game page also */
.modal-header,
.modal-footer {
  border: none;
}

.modal-content {
  background-color: var(--decoration3);
  font-size: 1rem;
}
/* modal btn styling done with rule in game pg modal section */


/* Nav Bar Styling */

header {
  background-color: var(--heading-color)
}

/*-- Style nav position nav links for smaller screens, collapsed menu--*/
.nav-link {
  font-family: 'Exo 2', sans-serif;
  font-weight: 600;
  color: var(--main-text-color);
  display: flex;
  justify-content: flex-end;
}

.nav-link.active {
  text-decoration: underline;
  text-decoration-color: var(--decoration2);
  font-weight: 700;
  color: var(--decoration2);
}

.nav-link:hover {
  color: var(--decoration1);
}

/* add spacing above Main container, so that there is visible space with navbar */
#main-section {
  margin-top: 75px;
  
}

/*--styling of burger icon for smaller screens--*/
.navbar-toggler-icon {
  display: inline;
}

.fa.fa-bars {
  font-size: 2rem;
  color: var(--main-text-color);
}

.navbar-collapse {
  background-color: var(--heading-color);
  padding:10px;
}

/* Credit: solution to my issue with navbar and content z-indez was found on https://forum.freecodecamp.org/t/why-is-my-navbar-behind-other-content/62059 */
#nav {
  z-index: 9999;
}

/* Learn More Page */

/*--
set background colour for full page 
Use root element and then color picker to get a lighter shade --*/
#learn {
  background-color: #b61d2709
}

/*-- carousel styling --*/
/* margin-left of 10% required to align items and override effect of the b/s class */
.carousel-item {
  width: 85%;
  margin-left: 10%;
}

/* 
styling img elements scaled class to align and scale on all devices 
These are held within figure elements on the carousel
*/
img.scaled {
  height: 50vh;
  width: 90%;
  justify-content: center;
  margin: 5px;
}

/* styling figure elements with scaled class to align and scale on all devices */
figure.scaled {
  width: 90%;
  margin: 5px;
  text-align: center;

}

figcaption {
  margin-bottom: 15px;
  height: 140px;
}


/* styling carousel controls to align with imgs */
.carousel-control-next,
.carousel-control-prev {
  width: 25px;
  height: 50vh;
  background-color: var(--decoration1);
  margin: 5px;
  text-align: bottom;
}


/* position indicator to bottom */
ol.carousel-indicators {
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 0;
  right: 0;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
  height: 10px;
  margin: 5px;
  border: 0;
  border-radius: 20%;

}

ol.carousel-indicators li.active {
  background: var(--main-text-color);
}

ol.carousel-indicators li {
  background: var(--decoration1);
}

/*-- end of carousel styling --*/

/* --Section to style Form-- */
form {
  display: inline-block;
  padding: 15px;
}

legend {
  width: auto;
  margin-left: 20px;
  font-size: 25px;
  color: var(--heading-color);
  font-family: "Exo 2", serif;
  font-weight: 600;
}

/*--to set border colour and visibility of fieldset box on form--*/
#field-set {
  border: 2px solid var(--heading-color);
  border-radius: 2%;
  padding: 5px;
  margin: 0;
}

/*--contact form input boxes--*/
textarea,
#name,
#email,
#contact-number {
  font: 0.7em;
  min-width: 90%;
  margin-left: 5px;
}

#ask-question{
  margin-top: 20px;
}
textarea {
  height: 10rem;
   margin-top: 24px;
}

.details-labels {
  color: var(--main-text-color);
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 1px;
  margin-left: 5px;
}

/*-- set font size for placeholder text on form --*/
input {
  font-size: 16px;

}

/*stylng of button on form--*/
#form-button {
  border-radius: 10%;
  background-color: var(--heading-color);
  margin-left: 5px;
  color: var(--main-text-color);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

/*--End of form Section--*/

/*-- code for sticky footer https://css-tricks.com/couple-takes-sticky-footer/
wrapper and footer classes --*/
.wrapper {
  min-height: 100%;
  margin-bottom: -105px;
}

.footer,
.push {
  height: 68px;
  margin-top: 50px;
}


footer {
  color: #395c6b;
  background: var(--decoration3);
  font-family: 'Poppins', sans-serif;
  margin-top: 15px;
 }

footer p {
  font-size: 1rem;
  padding-top: 10px;
  padding-right: 10px;
  font-weight: 500;
}

.social-links {
  display: flex;
  padding: 5px;
}

.social-links a {
  font-size: 1.2rem;
  padding: 5px;
  color: var(--decoration2);
  border-radius: 10%;
}

.social-links a:hover {
  color: var(--heading-color);
  background-color: var(--main-text-color);
}

/*-- end of footer section --*/
/*-- end of learn more page styling --*/


/* game page */

/* canvas styling */

canvas {
  width: 250px;
  height: 350px;
  background-image: url("../images/game-bg-stars.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

#question {
  margin-top: 5px;
  text-align: center;
  font-weight: 600;
}

.questionScores {
  /* border: 2px dotted var(--decoration1); */
  margin-top: 15px;
  font-weight: 800;
  font-style: italic;
  padding-left: 10px;

}

/* style answer buttons */
.answerButton {
  border: 1px solid var(--decoration3);
  color: var(--main-text-color);
  max-height: 100%;
  margin-top: 5px;
  background-color: #395c6b1c;
}

.answerButton:hover {
  border: none;
  color: var(--decoration1);
  background-color: var(--main-text-color);
}

.controls {
  margin-top: 10px;
}

.controls button,
#resetBtn {
  color: var(--main-text-color);
  font-weight: 700;
  background-color: var(--heading-color);
  margin-top: 5px;
  font-size: 14px;
  width: 25vw;
}

.controls button:hover,
#resetBtn:hover {
  background-color: #fee440;
}

/* hide the span on screen, do not want it visible to user, contains the answer */
#correctAnswer {
  display: none;
}

/* modal buttons game page. Other modal styling set with styling on instructions modal*/

#answerModal,
#wrongAnswer {
  width: 100vw;

}

/*  styling code for all modal footer btns across the site */
.modal-footer .btn {
  color: var(--decoration1);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
   border: 2px solid #395c6b;
  background-color: var(--main-text-color);

}
/* hover code for all modal footer btns across the site */

 .modal-footer .btn:hover {
  color: var(--main-text-color);
  background-color: var(--decoration1);
  font-weight: 700;
  border-style: none;
  border-radius: 20%;
}


/*-- media query to adjust height of figcation, so no overflow with indicators. and for layout of footer --*/
@media screen and (max-width: 992px) {
  figcaption {    
    height: 150px;
  }
  #main-content {
    margin-top: 200px;
  }

  footer p {
    font-size: 14px;
    padding-top: 10px;
    margin-bottom: 5px;
  
  }

  .social-links {
    padding-top: 5px;
  }
}

/* media query to reduce size of question text and adjust canvas on xs screens */
@media screen and (max-width: 576px) {

  #question,
  .answerButton,
  .questionScores {
    font-size: 15px;
  }

  header {
    padding: 0;
  }


  canvas {
    width: 400px;
    height: 200px;

  }

  figcaption {
    font-size: 14px;
    height: 220px;
  }
  header {
    height: 50px;
  }

    .carouselSection {
    padding-top: 40px;
  }

/* Hide the indicators on xs small screens */
  ol.carousel-indicators {
   display:none
  }

}

/* media query to increase spacing on controls area on medium and above screens */
@media screen and (min-width: 768px) {

#answers {
  margin-top: 20px;
}

#question {
  margin-top: 20px;
}

.answerButton {
  margin-bottom: 10px;
}
}
