@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap');

/*
font-family: 'Exo 2', sans-serif;
font-family: 'Poppins', sans-serif;
 */

:root {
  --main-text-color: #395c6b;
  --heading-color: #d33f49;
  --decoration1: #fee440;
  --decoration2: #8ef9f3;
  --decoration3: #00f5d4;
}

* {
  margin: 0;
  padding: 0;
}

/* main styling */
div,
p {
  color: var(--main-text-color);
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

h1 {
  color: var(--main-text-color);
  font-family: 'Exo 2', sans-serif;
  font-size: 45px;
  font-weight: 600;
  margin: 10px;
  text-align: center;
  padding: 20px;

}

#game-header{ 
  font-size: 25px;

  /* margin: 5px; */
  text-align: center;
  padding: 5px;

}



/* landing page */

/* set scaling of landing page imgs */
div.scaled {
  width: 90%;
  margin: 5px;
  text-align: center;
}

/* full screen background image with fallback colour*/
#landing {
  background: url("../images/landing-stars.jpg") no-repeat center center fixed #395c6b;
  background-size: cover;
}

/* background image for link to learn more*/
#explore {
  background-image: url("../images/landing-astronaut.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 20px;
  margin: 20px;

}

/* background image for link to game*/
#playgame {
  background-image: url("../images/landing-rocket.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 20px;
  margin: 20px;

}

/* to set height of options for user on landing page*/
.start {
  height: 30vh;
}

.start-instructions {
  height: 15vh;
  padding: 20px;
  margin: 20px;


}

/* styling of text on landing page */
.start-pg {
  color: var(--decoration1);
  font-weight: 600;
}

/*-- change landing pg links when hovered --*/
a:hover .start-pg,
a:focus .start-pg {
  color: var(--heading-color);

}

/*-- remove underline when over over anchor elements on landing page --*/
.landing-pg:hover a, .landing-pg:focus a {
  text-decoration: none;
}



/* Styling the Instructions modal */
#instructions {
  color: var(--decoration1);
  border: 2px solid var(--heading-color);
  border-radius: 50%;
  font-weight: 600;
  font-size: 20px;
  padding: 15px;
}

#instructions:hover {
  color: var(--heading-color);
}

.modal-header,
.modal-footer {
  border: none;
}

.modal-content {
  background-color: var(--decoration2);
  font-size: 1rem;
}

.modal-footer .btn {
  color: #d33f49;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  border: 2px solid #d33f49;
}

/* Nav Bar Styling */

header {
  background-color: var(--heading-color)
}

/*-- Style nav position nav links for smaller screens, collapsed menu--*/
.nav-link {
  font-family: 'Exo 2', sans-serif;
  font-weight: 600;
  color: var(--decoration3);
  display: flex;
  justify-content: flex-end;
}

.nav-link.active {
  /* border-bottom: 2px solid var(--decoration3); */
  text-decoration: underline;
  text-decoration-color: var(--decoration2);
  font-weight: 700;
  color: var(--decoration2);
}

.nav-link:hover {
  color: var(--decoration1);

}

/* add spacing above Main container, so that there is visible space with navbar */
#main-section {
  margin-top: 75px;
}

/*--styling of burger icon for smaller screens--*/
.navbar-toggler-icon {
  display: inline;
}

.fa.fa-bars {
  font-size: 2.6rem;
  color: var(--decoration3);
}

/* Credit: solution to my issue with navbar and content z-indez was found on https://forum.freecodecamp.org/t/why-is-my-navbar-behind-other-content/62059 */
#nav {
  z-index: 9999;
}

/* Learn More Page */

/*--
set background colour for full page 
Use root element and then color picker to get a lighter shade --*/
#learn {
  background-color: #b61d2709
}

/*-- carousel styling --*/
/* margin-left of 10% required to align items and override effect of the b/s class */
.carousel-item {
  width: 85%;
  margin-left: 10%;
}

/* 
styling img elements scaled class to align and scale on all devices 
These are held within figure elements on the carousel
*/
img.scaled {
  height: 50vh;
  width: 90%;
  justify-content: center;
  margin: 5px;
}

/* styling figure elements with scaled class to align and scale on all devices */
figure.scaled {
  width: 90%;
  margin: 5px;
  text-align: center;

}

figcaption {
  margin-bottom: 15px;
  height: 140px;
}


/* styling carousel controls to align with imgs */
.carousel-control-next,
.carousel-control-prev {
  width: 25px;
  height: 50vh;
  background-color: var(--decoration1);
  margin: 5px;
  text-align: bottom;
}


/* position indicator to bottom */
ol.carousel-indicators {
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 0;
  right: 0;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
  height: 10px;
  margin: 5px;
  border: 0;
  border-radius: 20%;

}

ol.carousel-indicators li.active {
  background: var(--main-text-color);
}

ol.carousel-indicators li {
  background: var(--decoration1);
}

/*-- end of carousel styling --*/

/* --Section to style Form-- */
form {
  display: inline-block;
  padding: 15px;
}

legend {
  width: auto;
  margin-left: 20px;
  font-size: 25px;
  color: var(--heading-color);
  font-family: "Exo 2", serif;
  font-weight: 600;
}

/*--to set border colour and visibility of fieldset box on form--*/
#field-set {
  border: 2px solid var(--heading-color);
  border-radius: 2%;
  padding: 5px;
  margin: 0;
}

/*--contact form input boxes--*/
textarea,
#name,
#email,
#contact-number {
  font: 0.7em;
  min-width: 90%;
  margin-left: 5px;
}

textarea {
  height: 10rem;
}

.details-labels {
  color: var(--main-text-color);
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 1px;
  margin-left: 5px;
}

/*-- set font size for placeholder text on form --*/
input {
  font-size: 16px;

}

/*stylng of button on form--*/
#form-button {
  border-radius: 10%;
  background-color: var(--heading-color);
  margin-left: 5px;
  color: var(--decoration1);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

/*--End of form Section--*/

footer {
  color: #395c6b;
  background: #8ef9f3;
  font-family: 'Poppins', sans-serif;
  

}

footer p {
  font-size: 1rem;
  padding-top: 25px;
  font-weight: 500;
}

.social-links {
  display: flex;
  padding-top: 10px;
}

.social-links a {
  font-size: 3rem;
  padding: 5px;
  color: var(--heading-color);
  border-radius: 100%;
}

.social-links a:hover {
  background-color: var(--main-text-color);
}

/*-- end of footer section --*/
/*-- end of learn more page styling --*/


/* game page */

/* canvas styling */

canvas {
  width: 400px;
   height:500px;
   background-image: url("../images/game-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
   
}
#gamecanvas{
  /* height:85%;
  width: 95%x; */
 border: 2px solid red;
  padding: 0;
  margin: 20px;
}
/* .game-area{
  background-image: url("../images/game-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right:20px;
  height:45vh;
} */

#question {
  margin-top: 5px;
  text-align: center;
  font-weight: 600;
}

/* temp styling on question and answer area */
.question-area{
  border: 2px dotted var(--heading-color);
}

.questionScores {
  /* border: 2px dotted var(--decoration1); */
  margin-top: 15px;
  font-weight: 800;
 font-style: italic;
 padding-left: 10px;

}

/* style answer buttons */
.answerButton {
  border: 1px solid var(--decoration3);
  color: var(--main-text-color);
  max-height: 100%;    
  margin-top: 5px;
background-color: #395c6b1c;
}

.answerButton:hover {
  border: none;
  color: var(--decoration1);
 background-color: var(--main-text-color);
}

.controls { 
  margin:10px;
}

.controls button {
  color: var(main-text-color);
  font-weight: 700;
  background-color: var(--decoration2);
}

.controls button:hover {
  background-color: #fee440;
}

/* hide the span on screen, do not want it visible to user, contains the answer */
#correctAnswer{
  display: none;
}

/* pop up modal buttons other modal styling set with styling on instructions modal*/

.modal-footer .gameModal {
  color: #d33f49;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  border: 2px solid #d33f49;
}

.modal-footer .gameModal:hover {
 background-color: var(--decoration3);
 font-weight: 700;
 border-style: none;
 border-radius:20%;
}

/*-- media query to show carousel text in a smaller size:- captions and heading --*/
@media screen and (max-width: 992px) {
  figcaption {
    font-size: 15px;
    height: 160px;
  }

  h1 {
    font-size: 35px;
    padding: 15px;

  }

    
  footer p {
   font-size: 14px;
    padding-top: 10px;
    margin-bottom: 5px;
   
  }
  
  .social-links {
    /* display: flex; */
    padding-top: 5px;
  }
}
/* media query to reduce size of question text on xs screens */
@media screen and (max-width: 576px) {
  #question, .answerButton{
    font-size: 15px;
  }
}